/* css per tutto */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav {
    background-color: #466c5f !important;
    color: white !important;  
    height: auto;
}

#nav-brand {
    color: white !important;  
}

#nav-link {
    text-decoration: none;
    background-color: #466c5f;
    color: white; 
}

#text-wrapper {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    /*border: 1px solid #466c5f;*/ /*serve per il debugging*/
}

#text-wrapper > #side-text {
    text-align: left;
}

#cnt {
    all: unset !important;
    color: inherit;
}

footer {
    background-color: #466c5f;
    color: white;
    background-repeat: repeat;
    background-position: left top;
    background-size: 100%; 
}

/* css solo per index.html */
#carousel-container {
    padding: 0%;    /* altrimenti esce brutto */
    /*width: 100%;*/

}

#crsl-img {
    height: auto;
}

#demo {
    height: 100%;
    width: 100%;
}

#shortcut {
    margin-left: 0%;
    color: white;
    background-color: #466c5f;
}

#block-image-container {
    padding: 2%;
    width: 50%;
}


/* css solo per products.html */
#form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#prod-wrapper {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: flex-start;
}

#prd-img {
    height: auto;
    width: 100%;
}

#prd-price {
    margin-top: 15px;
    padding: 1%;
}

/* css per bio */

#b-header {
    text-align: center;
}

#b-img {
    height: 40vh;
    width: auto;
}

.b-text {
    width: 80%;
    height: 80%;
    text-align: left;
}

/* css solo per photos.html */
#ph-block{
    margin: 0.5%;
    padding: 0%;
}

.ph {
    width: 100%;   
}




/* template per i commenti */
/*  */